{
  "root": true,
  "extends": ["@yelo/eslint-config"],
  "parserOptions": {
    "project": ["./tsconfig.json", "./packages/@yelo/*/tsconfig.json"]
  },
  "ignorePatterns": ["**/node_modules/*", "**/@yelo/*/lib/**/*", "**/@yelo/template-*/template/**/*"],
  "rules": {
    "no-await-in-loop": "off"
  }
}
